.App {
  text-align: center;
  padding: 2%;
  background-color: #191c24;
  color: #ffffff !important;
}

.title {
  padding-bottom: 2%;
  font-weight: 900;
}

.footer {
  padding-top: 2%;
  text-decoration: none;
}

.footer a{
  text-decoration: none;
  color: #7ff1a9;
}

